{
  "services": {
    "OfferRemoteService": "bla/bla/OfferRemoteService.php",
    "ArtikelRemoteService": "bla/bla/ArtikelRemoteService.php",
    "OrderRemoteService": "bla/bla/OrderRemoteService.php"
  }
}